@import "../index.css";

:root {
  font-family: monospace;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: var(--lighter);
}

#notification-header {
  height: 24px;
}

.contact {
  padding: 10px;
  width: 20%;
  margin-bottom: 20px;
}

.contact form {
    display: flex;
    flex-direction: column;
  }
  
  .contact label,
  .contact input,
  .contact textarea {
    margin-bottom: 10px;
  }
  
  .contact textarea {
    resize: vertical;
  }
  