@import "../index.css";

.footer {
    background-color: var(--dark);
    padding: 10px;
  }
  
.footer a {
    margin-right: 10px;
  }

.footer ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: center;

  }

.footer ul li {
  padding: 10px;
}


.footer ul img {
  width: 35px;
  height: 35px;
}