@import "../index.css";

body {
  background-color: var(--darker);
}

.header {
  color: var(--light);
    background-color: var(--darker);
    padding: 10px;
}

h1 {
  color: antiquewhite;
}

#secondary-text {
  color: var(--light);
}

