@import "../index.css";

body {
  background-color: var(--darker);
}

.header {
  color: var(--light);
    background-color: var(--darker);
    padding: 10px;
}

img {
  width: 10%;
}

h1 {
  color: antiquewhite;
}

#secondary-text {
  color: var(--light);
}


@media (max-width: 768px) {
  .header img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
