.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav li {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .nav li.active {
    font-weight: bold;
  }
  

  