@import "../index.css";

.portfolio {
  background-color: var(--lighter);
  padding: 15px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.portfolio-item {
  margin: 10px;
  width: calc(33.33% - 20px);
}

.portfolio-item img {
  width: 40%;
  /* height: 60%; */
}
