@import "../index.css";

body {
  color: var(--darker);
}

.portfolio {
  background-color: var(--lighter);
  padding: 15px;
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.portfolio-item {
  margin: 10px;
  width: calc(33.33% - 20px);
}

.portfolio-item img {
  width: 40%;
  /* height: 60%; */
}


/* hyper link handling */

a {
  font-size: 80%;
  color: var(--dark);
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { 
  text-decoration: none;
  color: var(--darker);
}


a:active { text-decoration: none; }
